@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex {
  display: flex;
}

.text-primary {
  color: #ff900e;
}

.text-gray {
  color: #424242;
}

.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-Primary {
  background-color: #ff900f;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.Section-title {
  font-size: 2.8rem;
  font-weight: 700;
}



/* Main */
main {
  max-width: 1440px;
  margin: 0 auto;
}


main > section {
  margin-top: 130px;
}

/* Header / Navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* Banner */
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.Banner-Content {
  max-width: 850px;
  margin: 0 auto 50px;
  text-align: center;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
}

/* Teams section */
.teams {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 80px 0;
}

.teams-img-contaier {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}


.our-features {
  margin-left: 130px;
  max-width: 530px;
}



#quick-list {
  font-weight: 500;
}

/* Some fact related style */


.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.facts-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}



.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}


#Fact-description{
max-width: 540px;
}
















/* Responsive */
@media screen and (max-width: 576px) {

  .navbar,
  .teams,
  .nav-links {
    flex-direction: column;
  }


.teams-img-contaier{
  grid-template-columns: repeat(1, 1fr);
}


.our-features{
  margin-left: 20px;
}

}











@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
  }

  .our-features{
  margin-left: 50px auto;
}
}





















